$primary-color: #ff6060;
$secondary-color: #000000;
$white: #ffffff;
$gray-bg: #f6f6f6;
$star-inactive: #e3e3e3;
$footer-bg: #000000;
$footer-text: #ffffff;
$banner-mask: rgba(0, 0, 0, 0.6);
$about-banner-mask: #000;




$about-banner-mask-opacity: 0.3;