@use "./fonts";

.footer {
  width: 1440px;
  height: 209px;
  background: #000000;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;

  &__logo {
    width: 122px;
    height: 39.44px;
    position: absolute;
    top: 66px;
    left: 659px;
  }

  &__text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: fonts.$main-font;
    text-align: center;
    width: 100%;
  }

  // Responsive styles for mobile and small screens
  @media (max-width: 600px) {
    width: 375px;
    height: 209px;
    margin-top: 22px;

    &__logo {
      top: 66px;
      left: 127px;
      width: 122px;
      height: 39.44px;
    }

    &__text {
      font-size: 12px;
      font-weight: 500;
      width: 133.59px;
      font-family: fonts.$main-font;
      margin-bottom: 30px;
      text-align: center;
      white-space: normal;
    }
  }
}
