.home-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .gallery {
    width: 1240px;
    background: #f6f6f6;
    border-radius: 25px;
    margin-left: 100px; // Align with header and banner
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px; // Space between cards
    padding: 50px; // Space between cards and gallery edges
    box-sizing: border-box;
    align-content: flex-start;
  }

  .link-no-decoration {
    text-decoration: "none";
  }
}

// Responsive styles for mobile and small screens
@media (max-width: 600px) {
  .home-page {
    align-items: center;

    .gallery {
      width: 335px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      margin-top: 22px;
      padding: 22px 0;
      align-items: center;
      background: #ffffff;
      flex-direction: column;
    }
  }
}
