@use "./colors" as *;
@use "./spacing" as *;

.home-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .gallery {
    width: 1240px;
    background: $gray-bg;
    border-radius: $spacing-banner-radius;
    margin-left: $spacing-header-left; // Align with header and banner
    margin-top: $spacing-banner-top;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-gallery-gap;
    padding: $spacing-gallery-padding;
    box-sizing: border-box;
    align-content: flex-start;
  }

  .link-no-decoration {
    text-decoration: "none";
  }
}

// Responsive styles for mobile and small screens
@media (max-width: 600px) {
  .home-page {
    align-items: center;

    .gallery {
      width: 335px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      margin-top: 22px;
      padding: 22px 0;
      align-items: center;
      background: $white-text;
      flex-direction: column;
    }
  }
}
