.rental-property-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container {
  display: flex;
  gap: 76px;
  width: 1240px;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: auto;
}

.details-collapse {
  width: 582px;
}
