@use "./styles/header";
@use "./styles/footer";
@use "./styles/banner";
@use "./styles/card";
@use "./styles/home-page";
@use "./styles/about-banner";
@use "./styles/collapse";
@use "./styles/error-page";
@use "./styles/rental-property-page";
@use "./styles/carousel";
@use "./styles/star-rating";
@use "./styles/host";
@use "./styles/tags";
@use "./styles/title";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
